<%- include ../layouts/header.ejs %>
<p>Zalogowano: <span><%= username %></span></p>

<button class="nav-button" onclick="addCustomer()">+ Dodaj klienta</button> 

<div class="page-data">
    <div class="data-table">
        <table>
        <tr>
            <th>Nr</th>
            <th>Nazwa</th>
            <th>Adres</th>
            <th>Telefon</th>
            <th>E-mail</th>
            <% if(isAdmin) { %> 
            <th>Akcja</th> 
            <% } %>
        </tr>
        <% if(data.length) {
            for(var i = 0; i< data.length; i++) {
                %>
                <tr>
                    <td><%= data[i].id %></td>
                    <td><%= data[i].name %></td>
                    <td><%= data[i].address %></td>
                    <td><%= data[i].phone %></td>
                    <td><%= data[i].email %></td>
                    <% if(isAdmin) { %> 
                        <td>
                            <a href="../customers/edit/<%= data[i].id %>">Edycja</a>
                            <a href="../customers/delete/<%= data[i].id %>">Usuń</a>
                        </td>
                        <% } %>
                </tr>
               
                <%
            }
        } else {
            %>
            <tr>
                <td colspan="6">Brak klientów</td>
            </tr>
            <%
        }
        %>
        </table>

    </div>
</div>
<%- include ../layouts/footer.ejs %>